<!--<div class="user-bar"> Hello admin! | <a href="/leaderboard">Leaderboard</a> | <a href="/logout">Logout</a> </div>-->
<div class="user-bar">
    <% if (user) { %> <!-- Cuando el usuario está autenticado -->
        Hello <%= user.username %>! |
        <a href="/skills/<%= skillTreeName %>">
            <%= skillTreeName %> (<%= skills.length %>)
        </a> |
        <a href="/users/leaderboard">Leaderboard</a> |
        <a href="/about">About</a> |
        <a href="/users/logout">Logout</a>
        <% if (user.admin) { %>
            | <a href="/admin">Admin Dashboard</a>
        <% } %>

    <% } else { %> <!-- Cuando la sesión no está inicializada -->
        <a href="/users/login">Login</a> |
        <a href="/users/about">About</a>
    <% } %>
</div>
