<div class="user-bar">
    <% if (user) { %> <!-- Cuando el usuario está autenticado -->
        Hello <%= user.username %>! | SkillTrees:
        <% skillTrees.forEach(skillTree => { %>
                <a href="/skills/<%= skillTree.name %>">
                        <%= skillTree.name %> (<%= skillTree.count %>)
                </a> |
        <%}); %>
        <a href="/users/leaderboard">Leaderboard</a> |
        <a href="/about">About</a> |
        <a href="/users/logout">Logout</a>
        <% if (user.admin) { %>
            | <a href="/admin/dashboard">Admin Dashboard</a>
        <% } %>

    <% } else { %> <!-- Cuando la sesión no está inicializada -->
        <a href="/users/login">Login</a> |
        <a href="/users/about">About</a>
    <% } %>
</div>
