<!--<div class="user-bar"> Hello admin! | <a href="/leaderboard">Leaderboard</a> | <a href="/logout">Logout</a> </div>-->
<div class="user-bar">
    <% if (user) { %> <!-- Cuando el usuario está autenticado -->
        Hello <%= user.username %>! | SkillTrees:
        <% skillTrees.forEach(skillTree => { %>
            <a href="/skills/<%= skillTree.name %>">
                <%= skillTree.name %> (<%= skillTree.count %>)
            </a> |
        <%}); %>
        <a href="/leaderboard">Leaderboard</a> |
        <a href="/about">About</a> |
        <a href="/logout">Logout</a>
        <% if (user.admin) { %>
            | <a href="/admin">Admin Dashboard</a>
        <% } %>

    <% } else { %> <!-- Cuando la sesión no está inicializada -->
        <a href="/login">Login</a> |
        <a href="/about">About</a>
    <% } %>
</div>
