<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Dashboard</title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<!-- Cabecera -->
<%- include('partials/username-display') %>

<h1>Administrator Dashboard</h1>

<!-- Botones de administración -->
<div style="text-align: center; margin-top: 50px;">
    <a href="/admin/badges" class="big-admin-button">Manage badges</a>
    <a href="/admin/users" class="big-admin-button">Manage users</a>
</div>
</body>
</html>
