body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
}

.svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Mantener por el indicador circular */
    height: 20vh; /* Usar el viewport height para centrar verticalmente */
}

.hexagon {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.svg-wrapper {
    width: 100px;
    height: 120px;
    cursor: pointer;
    position: relative; /* Mantener por el indicador circular */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.hexagon {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

/* Estilo para el texto dentro del SVG (Esto irá dentro del JS en la Parte 2, porque puede cambiar) */
.svg-wrapper text {
    font-size: 10px; /* Tamaño de fuente */
    fill: black;
    text-anchor: middle;
    font-weight: bold;
}

.svg-wrapper image {
    width: 30px; /* Asegúrate de ajustar esto según tus necesidades */
    height: 30px;
}

.skill-title {
    font-size: 24px;
    font-weight: bold;
}

.skill-score {
    font-size: 18px;
    color: #555;
}

.description {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.tasks, .resources {
    margin-top: 20px;
}

.tasks ul, .resources ul {
    list-style: none;
    padding-left: 0;
}

.tasks li, .resources li {
    font-size: 16px;
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.tasks input[type="checkbox"] {
    margin-right: 10px;
}

.resources a {
    color: #1a73e8;
    text-decoration: none;
}

.resources a:hover {
    text-decoration: underline;
}

.user-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f5e589; /* Mismo color de skill-description */
    padding: 10px;
    font-weight: bold;
    font-size: 0.9em;
    font-family: Arial, sans-serif; /* Mismo tipo de letra */
}
.user-bar a {
    color: #1a73e8;
    text-decoration: none;
}

.user-bar a:hover {
    text-decoration: underline;
}

/* ------------------------------------- */

/* Estilo para el título */
#table-title {
    margin-bottom: 10px;  /* Espacio entre el título y la tabla */
    text-align: left;     /* Alinear el título a la izquierda */
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Tabla Estilo General */
.styled-table {
    width: 100%;                   /* Escala al 100% del ancho de la página */
    border-collapse: collapse;     /* Quita espacio entre las celdas para un borde continuo */
    background-color: white;       /* Fondo blanco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    margin: 20px 0;
    font-size: 1em;
}

/* Estilos para el encabezado de la tabla */
.styled-table thead th {
    background-color: #f0f0f0;     /* Fondo gris claro para los encabezados */
    color: #333;                   /* Texto negro */
    font-weight: bold;
    border: 2px solid #d3d3d3;     /* Borde gris oscuro para los encabezados */
    padding: 12px 15px;
    text-align: left;              /* Alinear el texto a la izquierda en los encabezados */
}

/* Estilos para las celdas del cuerpo de la tabla */
.styled-table tbody td {
    background-color: #ffffff;     /* Fondo blanco para las celdas de evidencia */
    color: #333;
    border: 2px solid #d3d3d3;     /* Bordes gris oscuro alrededor de cada celda */
    padding: 12px 15px;
    text-align: left;              /* Alinear el texto a la izquierda en las celdas */
}

/* Establecer ancho específico para la columna 'Usuario' */
.styled-table tbody td:first-child,
.styled-table thead th:first-child {
    width: 20%;                   /* Ancho de la columna 'Usuario' más estrecha */
}

/* Establecer ancho para la columna 'Acciones' */
.styled-table tbody td:last-child,
.styled-table thead th:last-child {
    width: 30%;                   /* Ancho de la columna 'Acciones' más ancha */
}

/* Estilos para el botón de verificación */
.verify-button {
    padding: 8px 12px;
    background-color: #28a745; /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;  /* Espacio entre los botones */
}

/* Estilos para el botón de rechazo */
.reject-button {
    padding: 8px 12px;
    background-color: #dc3545; /* Color rojo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
