/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Fondo gris */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Títulos */
h1 {
    font-size: 24px;
    font-weight: normal;
    color: #333;
    margin-bottom: 10px;
    text-align: center; /* Centrar el texto del título */
}

/* Header and Welcome Banner */
#welcomeBanner {
    background-color: #ffda66;
    color: #333;
    padding: 10px;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

th {
    text-align: left;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Badge Column Styling */
.badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

/* Add styles for each badge color */
.badge-gray { background-color: #ccc; }
.badge-yellow { background-color: #ffd700; }
.badge-orange { background-color: #ff8c00; }

/* Customizing Required Bitpoints Column */
.bitpoints {
    font-size: 14px;
    color: #666;
}

/* Container for main content */
.container {
    max-width: 800px;
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* User Bar */
.user-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f5e589; /* Mismo color de skill-description */
    padding: 10px;
    font-weight: bold;
    font-size: 0.9em;
    font-family: Arial, sans-serif; /* Mismo tipo de letra */
}
.user-bar a {
    color: #1a73e8;
    text-decoration: none;
}

.user-bar a:hover {
    text-decoration: underline;
}
